<!-- Blog -->
<div class="blog-detail">
  <div class="blog-detail-container">
    <h1 class="text-center mb-4">{{blog.title}}</h1>
    <div
      class="blog-detail-hero d-flex flex-column flex-lg-row justify-content-between"
      style="gap: 3em;"
    >
      <div class="img-container w-100 w-50-md">
        <img src="{{blog.image}}" class="w-100" alt="detail" />
      </div>
      <div class="blog-detail-info fs-5 text mx-auto text-center text-lg-start">
        <div class="blog-detail-duration">
          <h2 class="mb-3">Duration</h2>
          <p><i class="fa-solid fa-calculator me-2"></i>19 Oct 2023 - 31 Nov 2023</p>
          <p><i class="fa-solid fa-clock me-2"></i>1 Month</p>
        </div>
        <div class="blog-detail-technologies mx-auto mx-lg-0">
          <h2>Technologies</h2>
          <div class="tech-container min-w-75">
            {{#each blog.technologies}}
              <p><i
                  class="fa-brands fa-{{this.technology}} me-1"
                  style="color: {{this.color}};"
                ></i>{{this.technology}}</p>
            {{/each}}
            {{! <div class="row">
              <div class="col">
                <p><i class="fa-brands fa-react"></i> React Js</p>
              </div>
              <div class="col">
                <p><i class="fa-brands fa-js"></i> JavaScript</p>
              </div>
              <div class="col">
                <p><i class="fa-brands fa-node"></i> Node Js</p>
              </div>
              <div class="col">
                <p><i class="fa-brands fa-golang"></i> Golang</p>
              </div>
            </div> }}
          </div>
        </div>
      </div>
    </div>
    <p class="mt-4 fs-4">
      {{blog.content}}
    </p>
  </div>
</div>