<div class="bg-light pb-5">
  <div
    class="container mt-5 d-flex flex-column justify-content-center align-items-center"
  >
    <section>
      <div class="left">
        <div class="card-container card text-center" id="card">
          <img
            src="/images/Me.jpg"
            alt="people man"
            style="width: 100%; border-radius: 15px; height: 300px; object-fit: cover; object-position: 0 10%;"
          />
          <h1 style="font-family: Poppins, Helvetica, sans-serif;" class="mt-2 mb-1">Titan
            Apriliyan</h1>
          <p style="color: grey;" class="mb-1">Fullstack Developer</p>

        </div>
      </div>

      <div class="right mt-4 mt-lg-0">
        <div class="mb-5">
          <h1>What i do</h1>
          <p>
            Programming is a world full with opportunities, particularly in web
            development where there are many ways to succeed. But as Luffy once remarked,
            you are headed in the wrong direction if the path you choose is simple. If
            you're not someone who enjoys studying every day, you will lose to others in
            the web development industry.
          </p>
        </div>

        <div class="link mb-4">
          <a
            href="/contact"
            class="btn-contact"
            style="text-decoration: none;"
          >contact</a>

          <a href="" style="text-decoration: none; color: black">download myCV
            <i class="fa-solid fa-download ms-1"></i></a>
        </div>
        <div class="social-media text-center text-lg-start">
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-linkedin"></i>
          <i class="fa-brands fa-twitter"></i>
        </div>

      </div>
    </section>
  </div>
</div>

<div class="blog-list mt-5 mb-5 container">
  <h1 class="text-center mb-5">ALL PROJECT</h1>
  {{#if isLogin}}
    <div class="w-100 d-flex justify-content-end">
      <a href="/blog/create" class="btn btn-danger text-end text-white">Add Project</a>
    </div>
  {{/if}}
  <div
    class="container d-flex flex-wrap justify-content-center"
    style="gap: 1em;"
    id="contents"
  >
    <!-- dynamic content would be here -->
    {{#if blogs.length}}
      {{#each blogs}}
        <div
          class="card"
          style="width: 18rem; cursor: pointer"
          id="card"
          onclick="redirectToBlogDetail({{this.id}})"
        >
          <img src="{{this.image}}" alt="dummy" class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title mb-0">{{this.title}}</h5>
            <small class="mb-3 d-block">Duration: {{this.duration}}</small>
            <small></small>
            <p class="card-desc mb-2">
              {{this.content}}
            </p>
            <small class="mb-2 d-block form-text">Created by: {{this.name}}</small>
            <div class="card-tech mb-3 fs-3">
              {{#each this.technologies}}
                <i
                  class="fa-brands fa-{{this.technology}} fs-3 me-2"
                  style="color: {{this.color}};"
                ></i>
              {{/each}}
            </div>
            <div class="card-btn d-flex justify-content-between" style="gap: 8px;">
              {{#if canAccess}}
                <a
                  href="/blog/edit/{{this.id}}"
                  class="btn btn-info text-white w-100"
                >Edit</a>
                <form
                  action="blog/delete/{{this.id}}?_method=DELETE"
                  class="w-100 m-0"
                  method="post"
                >
                  <button type="submit" class="btn btn-danger w-100">Delete</button>
                </form>
              {{/if}}

            </div>
          </div>

        </div>
      {{/each}}
    {{else}}
      <h3 class="text-secondary">Data is empty</h3>
    {{/if}}

  </div>
</div>

<script>
  const redirectToBlogDetail = (id) => { window.location.href = `/blog/${id}` }
</script>