<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/button.css">
    {{#if active.Testimonial}}
     <link rel="stylesheet" href="/css/testimonials.css" />
    {{else}}
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/blog.css" />
    {{/if}}
   
    <title>Document</title>
  </head>

  <body class="d-flex flex-column min-vh-100 bg-light {{#if active.Home}}bg-transparent{{/if}}">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg sticky-top" style="height: 68px; background-color: #fe4e30;">
      <div class="container">
        <a class="navbar-brand me-5" href="/">
          <img src="/images/brandwhite.png" alt="logo-brand" style="width: 49px; height: 33px;" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse relative text-center" style="background-color: #fe4e30; z-index: 999" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link text-light {{#if active.Home}}text-danger fw-bold{{/if}}" href="/">Home</a>
            </li>
            {{#if isLogin}}
            <li class="nav-item">
              <a class="nav-link text-light {{#if active.Blog}}text-danger fw-bold{{/if}}" href="/blog/create">Add Blog</a>
            </li>
            {{/if}}
            <li class="nav-item">
              <a class="nav-link text-light {{#if active.Testimonial}}text-danger fw-bold{{/if}}" href="/testimonial">Testimonials</a>
            </li>
            <li class="nav-item d-lg-none">
               <a class="nav-link text-light {{#if active.Login}}text-danger fw-bold{{/if}}" href="/login">Login</a>
            </li>
            <li class="nav-item d-lg-none">
               <a class="nav-link text-light {{#if active.Register}}text-danger fw-bold{{/if}}" href="/register">Register</a>
            </li>
            <li class="nav-item d-lg-none">
              <a class="btn-dumbways" href="/contact">Contact Me</a>
            </li>
          </ul>
          <div class="d-none d-lg-flex align-items-center" style="gap: 1em;">
            {{#if isLogin}}
            <p class="m-0 text-light fw-bold active fw-semibold" href="#">Hallo, {{user.name}}</p>
            <form action="/logout" class="m-0" method="post">
              <button class="nav-link text-light" type="submit">Logout</button>  
            </form>
            {{else}}
            <a class="nav-link text-light {{#if active.Register}}text-danger fw-bold{{/if}}" href="/register">Register</a>
            <a class="nav-link text-light {{#if active.Login}}text-danger fw-bold{{/if}}" href="/login">Login</a>
            {{/if}}
            <a class="btn-dumbways" href="/contact">Contact Me</a>
          </div>
        </div>
      </div>
    </nav>

      {{#if info}}
      <div class="alert alert-info alert-dismissible fade show mx-auto" style="position: absolute; z-index: 9999; top: 2em; transform: translate(-50%, -50%); left: 50%;">
        {{info}}
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      </div>
      {{/if}}
      {{#if success}}
      <div class="alert alert-success alert-dismissible fade show mx-auto" style="position: absolute; z-index: 9999; top: 2em; transform: translate(-50%, -50%); left: 50%;">
        {{success}}
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      </div>
      {{/if}}
      {{#if danger}}
      <div class="alert alert-danger alert-dismissible fade show mx-auto" style="position: absolute; z-index: 9999; top: 2em; transform: translate(-50%, -50%); left: 50%;">
        {{danger}}
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      </div>
      {{/if}}
    
    <!-- End Navbar -->
    {{{body}}}
{{!-- 
    <footer class="text-center border-top border-danger pt-3 mt-auto">
      <p>Created by Titan Apriliyan</p>
    </footer> --}}

  <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    </body>

</html>